<div class="container questionIndexContainer">
  <div id="questionIndex">
    <% @questions.each do |question| %>
      <%= link_to question.title, question, class: "question-index-item" %>
    <% end %>
  </div>
</div>
