<div class="container questionIndexContainer">
  <div id="questionIndex">
    <% @questions.each do |question| %>
      <p>✸ <%= link_to question.title, question, class: "question-index-item" %></p>
    <% end %>
  </div>
</div>
