<div class="container questionIndexContainer">
  <div id="questionIndex">
    <% @questions.each do |question| %>
      <%= link_to question.title, question, class: "question-index-item" %>
    <% end %>
  </div>
</div>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
    window.sr = ScrollReveal();
    sr.reveal('.question-index-item', {
      duration: 3000,
      origin: 'right',
      distance: '100px',
      scale: 0.5,
      delay: 500,
      reset: true
    }, 50);

</script>
