<div class="container">
  <div id="questionIndex">
    <% @questions.each do |question| %>
    <p class="question-index-item">
      <%= link_to question.title, question %>
    </p>
    <% end %>
  </div>
</div>
