<% if target.errors.any? %>
  <div class="errorsBox">
    <h5>Oops.This form has <strong><%= pluralize(target.errors.count, "error") %></strong>.</h5>
    <ul>
      <% target.errors.full_messages.each do |m| %>
      <li>
        <%= m %>
      </li>
      <% end %>
    </ul>
  </div>
<% end %>
