<div class="jumbotron jumbotron-fluid" id="homeContainer">
  <div class="container">
    <h1 class="display-4">Mini Answers</h1>
    <p class="lead">
      This is an app for users to ask questions and provide answers.
    </p>
    <%= link_to "Sign up now", new_user_path, class: "btn btn-light" %>
  </div>
</div>
