// Place all the styles related to the answers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#answerForm {
  border: 3px white solid;
  padding: 10px 30px;
  .answerFormLabel {
    text-transform: uppercase;
    color: white;
  }
  textarea { resize: none; }
}

#answerShowCard {
  border-top: 3px navy solid;
  padding: 10px 20px;
  color: black;
  h5 {
    letter-spacing: 1px;
    text-shadow: 0 0 5px whitesmoke;
  }
  .answerBlock {
    margin-bottom: 5px;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.3);
  }
}
