/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 html, body {
   margin: 0;
   padding: 0;
   height: 100%;
   font-size: 18px;
 }

div#mainContainer {
   background-color: #3F51B5;
}

 a {
   text-decoration: none !important;
 }

 nav.navbar {
   background-color: #303F9F !important;
   a {
     color: #FFFFFF !important;
   }
   a.navbar-brand {
     transition: 1s ease;
     &:hover { letter-spacing: 2px; }
   }
   .navbar-nav a {
     &:hover {
       box-shadow: 0 0 0 5px #3F51B5 inset;
     }
   }
   button.navbar-toggler {
     outline: none;
     span.navbar-toggler-icon { color: whitesmoke !important; }
   }
 }

nav .dropdown-menu {
   background-color: #303F9F !important;
   a {
     color: #FFFFFF !important;
     &:hover {
       background-color: #3F51B5;
     }
   }
 }

 .container-fluid {
   padding: 0 !important;
 }

.btn {
  border: none !important;
  outline: none !important;
  letter-spacing: 1.5px;
}

.errorsBox {
  background-color: rgba(159,168,218,0.6);
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  letter-spacing: 1px;
  padding: 10px;
  margin-bottom: 10px;
  color: black;
}

.alert {
  width: 80%;
  margin: auto;
  border-radius: 0px !important;
  border: none !important;
  z-index: 9999;
  color: black !important;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}
div.alert-info { background-color: rgba(29, 123, 185, 0.8) !important; }
div.alert-success { background-color: rgba(60, 179, 113, 0.8) !important; }
div.alert-danger { background-color: rgba(255, 105, 180, 0.8) !important; }


a.btn-info {
  background-color: RGB(65, 105, 225) !important;
  &:hover {
    background-color: RGBA(65, 105, 225, 0.6) !important;
  }
}

a.btn-danger {
  background-color: RGB(205, 92, 92) !important;
  &:hover {
    background-color: RGBA(205, 92, 92, 0.6) !important;
  }
}

 @import 'bootstrap';
