// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 div.questionContainer {
  min-height:100vh;
  padding: 5rem 10rem;
  color: #FFFFFF;
}

#questionForm {
  border-left: 3px solid #1a237e;
  margin: 20px auto;
  margin-bottom: 0;
  width: 60vw;
  min-width: 300px;
  label { letter-spacing: 1px; }
  .questionBtn {
    background-color: #1a237e;
    border: 0;
    &:hover { box-shadow: 2px 2px 5px #5c6bc0;}
    &:active { box-shadow: -2px -2px 5px #5c6bc0;}
  }
  textarea { resize: none; }
}

#questionShowCard,#questionIndex {
  margin: 0 auto;
  width: 80vw;
  min-width: 400px;
  padding: 20px 30px;
  border-left: 3px solid #1a237e;
}

#questionShowContainer {
  min-height:100vh;
  padding: 3rem;
  color: #b3e5fc;
  h3 {
    text-shadow: 1px 1px 2px black;
    span {
      font-size: 0.5em;
      color:black;
      text-shadow: 0 0 0;
      margin-left: 20px;
      padding: 2px 5px;
      border-radius: 5px;
      background-color: #fff9c4;
      box-shadow: 1px 1px 5px black;
    }
  }
  .content {
    font-size: 1.2rem;
    color: white;
  }
  .btn {
    width: 150px;
  }
  .dateInfo {
    padding: 10px 0px;
    span:first-of-type { margin-right: 10px; }
  }
}

div.questionIndexContainer {
  min-height: 100vh;
}

#questionIndex {
  border: 0;
  p {
    margin-bottom: 8px;
    color: white;
  }
}

a.question-index-item {
  position: relative;
  transition: 0.5s ease;
  font-size: 1.2em;
  margin-bottom: 5px;
  color: white;
    &:hover {
      color: RGB(0, 191, 255);
      letter-spacing: 2px;
    }
    &:visited { color: RGB(0, 191, 255); }
  }

a.question-index-item:before {
  content: "";
  transition:0.5s all ease;
  height: 0.2em;
  width:0;
  background: rgba(255,255,255,0.2);
  position:absolute;
  bottom: -0.25em;
  left: 0;
}

a.question-index-item:hover:before {
  width:100%;
}
