// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 div.questionContainer {
  height:100vh;
  padding: 5rem 10rem;
  color: #FFFFFF;
}

#questionForm {
  border-left: 3px solid #1a237e;
  margin: 20px auto;
  margin-bottom: 0;
  width: 60vw;
  min-width: 300px;
  label { letter-spacing: 1px; }
  .questionBtn {
    background-color: #1a237e;
    border: 0;
    &:hover { box-shadow: 2px 2px 5px #5c6bc0;}
    &:active { box-shadow: -2px -2px 5px #5c6bc0;}

  }
}

#questionShowCard,#questionIndex {
  margin: 0 auto;
  width: 80vw;
  min-width: 400px;
  padding: 20px 30px;
  border-left: 3px solid #1a237e;
}

#questionShowContainer {
  height:100vh;
  padding: 3rem;
  color: #b3e5fc;
  h3 {
    text-shadow: 1px 1px 2px black;
    span {
      font-size: 0.5em;
      color:black;
      text-shadow: 0 0 0;
      margin-left: 20px;
      padding: 2px 5px;
      border-radius: 5px;
      background-color: #fff9c4;
      box-shadow: 1px 1px 5px black;
    }
  }
  .content {
    font-size: 1.2rem;
    color: white;
  }
  .btn {
    width: 100px;
  }
  .dateInfo {
    padding: 10px 0px;
    span:first-of-type { margin-right: 10px; }
  }
}

div.questionIndexContainer {
  height:100vh;
}

#questionIndex {
  border: 0;
}

a.question-index-item {
  display: block;
  font-size: 1.2em;
  padding-left: 2em;
  border-radius: 15px;
  margin-bottom: 5px;
  background-image: linear-gradient(to right, rgba(255, 87, 51, 0.55), rgba(255, 87, 51, 0));
  color: white;
    &:hover {
      color: white;
      letter-spacing: 2px;
      background-image: linear-gradient(to right, rgba(255, 87, 51, 1), rgba(255, 87, 51, 0));
    }
    &:visited { color: black; }
  }
