// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#questionForm {
  margin: 20px auto;
  margin-bottom: 0;
  width: 60vw;
  min-width: 300px;
  .page-title {
    font-size: 1.5em;
    letter-spacing: 2px;
  }
  label {
    letter-spacing: 1px;
  }
}

#questionShowCard,#questionIndex {
  margin: 0 auto;
  width: 80vw;
  min-width: 400px;
  padding: 20px 30px;
  border-left: 3px solid black;
}

#questionIndex {
  border: 0;
}
.question-index-item {
  font-size: 1.2em;
  padding-left: 10px;
  &:hover {
    border-left: 5px solid hotpink;
  }
}
