// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#signUpForm, #logInForm, #userEditForm {
  border-left: 3px solid black;
  margin: 20px auto;
  margin-bottom: 0;
  width: 60vw;
  min-width: 300px;
  label {
    letter-spacing: 1px;
  }
  .newUserLink {
    letter-spacing: 1px;
    margin-top: 5px;
    font-size: 0.8em;
    a {
      color: #c5cae9;
      &:hover { color: #1a237e; }
    }
  }
  .logInBtn {
    background-color: #1a237e;
    border: 0;
    &:hover { box-shadow: 2px 2px 5px #5c6bc0;}
    &:active { box-shadow: -2px -2px 5px #5c6bc0;}
  }
}
.user_info {
  border-left: 3px black solid;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  margin: 20px;
  padding: 10px 20px;
  background-color: rgba(244, 164, 96, 0.7)
}
