// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#homeContainer {
  height:100vh;
  background-color: #3F51B5;
  padding: 5rem 10rem;
  color: #FFFFFF;
  .lead {
    color: #C5CAE9;
    letter-spacing: 1px;
  }
}
